:host {
  --prop-color: var(--cmp-color, var(--app-primary-color));
}

dl {
  display: grid;
  width: 100%;

  grid-template-columns: auto 1fr;
  row-gap: 8px;

  & > dt {
    display: inline-flex;
    flex-direction: row;
    align-items: baseline;

    font-weight: bold;

    &::after {
      content: '::';
      color: var(--prop-color);
      margin-left: auto;
      margin-right: 1ch;
      padding-left: 1ch;
    }
  }

  & > dd {
    margin-left: 0px;
    text-align: justify;
  }
}
